{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h1>Start page</h1>
{% endblock %}